/* Pages restaurant*/
.background-color {
    background-color: $primary-backgroud-color;
}
.cntnerImg--dim {
    width: 100%;
}
.headingPage {
    @include flexbox-center-ver();
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}
.menu {
    background-color: $primary-backgroud-color;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    bottom: 3rem;
    &__card {
        padding: 0 1rem 0 1rem;
        margin-bottom: 2rem;
        &--design {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            @include shadow-container();
            border-radius: 1.5rem;
            margin: 1rem 0 1rem 0;
            padding: 0 1rem;
            cursor: pointer;
            
            /*animmation menu*/
            animation: anim-menu $animMenu-duree ease-in-out;
            animation-direction: alternate;
            animation-fill-mode: both;
            animation-delay: 1000ms;
            @for $i from 1 through 9 {
                &--#{$i} {
                    animation-delay: $animMenu-delay * $i;
                }
            }
            &--10 {
                animation-delay: $animMenu-delay * 10;
            }
            &:active {
                > .menu__cardConfirmation {
                    
                    transform: scale(1.5)
                }
                > .menu__cardPrice {
                    transform: translateX(15.5px);
                }
            }
        }
        > p {
            border-bottom: 3px solid $tertiary-color;
            width: 2.5rem;
            height: 1.5rem;
        }
    }
    &__cardAlign {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex-grow: 2;
        &--textEllipsis {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        > h4 {
            margin-block-end: -0.3em;
        }
        p {
            margin-block-start: 0.5em;
            font-size: map-get($map: $font-size, $key: paragraph);
        }
    }
    &__cardPrice {
        align-self: flex-end;
        transition: transform 400ms ease-out;
    }
    &__cardConfirmation {
        background-color: $tertiary-color;
        border-radius: 0 1.5rem 1.5rem 0;
        transform: scale(2);
        transition: transform 400ms ease-out;
    }
}