footer {
    background-color: $footer-background-color;
    padding: 2rem;
    .logo--dim {
        width: 6.5rem;
        margin-bottom: 1rem;
    }
    p {
        color: $footer-text-color;
    }
    a {
        text-decoration: none;
        p {
            margin-block-end: 0.5em;
            margin-block-start: 0.5em;
        }
    }
    .alignTextIcon {
        display: flex;
        align-items: center;
        p {
            padding-left: 0.5rem;
        }
        &--color {
            color: $footer-text-color;
        }
        &--dim {
            width: 1rem;
        }
    }
}