/*annimation loading spinner*/
@keyframes back-loading {
  0%, 100% {
    z-index: 1;
    background-color: #242424;
    opacity: 0.8;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
/* ANimation pages menu */
@keyframes anim-menu {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
}
/* creation loading spinner*/
.container__load {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0;
  animation: back-loading 2000ms;
}

.load {
  width: 19.5vh;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  position: fixed;
  top: 0em;
  right: 0em;
  left: 0em;
  bottom: 0em;
}
.load__bar {
  height: 100%;
  width: 3vh;
  animation: bars 500ms;
  animation-delay: 150ms;
  animation-fill-mode: backwards;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.load__bar--1 {
  animation-delay: 100ms;
}
.load__bar--2 {
  animation-delay: 200ms;
}
.load__bar--3 {
  animation-delay: 300ms;
}
.load__bar--4 {
  animation-delay: 400ms;
}
.load__bar--5 {
  animation-delay: 500ms;
}
.load--colorPrimary {
  background-color: #9356DC;
}
.load--colorSecondary {
  background-color: #FF79DA;
}
.load--colorTertiary {
  background-color: #99E2D0;
}

@font-face {
  font-family: Shrikhand-Regular;
  src: url(/public/policies/Shrikhand-Regular.otf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(/public/policies/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(/public/policies/Roboto-Bold.ttf);
}
h2, h3, h4, h5, h6 {
  font-family: "Roboto-Regular", Arial, "Arial Narrow", "Arial black", sans-serif;
}

p, .restaurant__new, .description--btnTxtSize {
  font-family: "Roboto-Regular", Arial, "Arial Narrow", "Arial black", sans-serif;
}

.headingPage--police {
  font-family: "Shrikhand-Regular", Arial, "Arial Narrow", "Arial black", sans-serif;
}

body {
  min-width: 250px;
  margin: 0px;
  padding: 0px;
}

.btn__align {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 2.5rem;
}

.btn {
  background-color: #FF79DA;
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  border-radius: 2rem;
  padding: 1rem 0.8rem;
  text-align: center;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 0;
  min-width: 9rem;
}
.btn a {
  text-decoration: none;
}
.btn::after {
  content: "";
  position: absolute;
  border-radius: 2rem;
  background: linear-gradient(-5deg, #a16be0, #ff93e1);
  top: 0rem;
  right: 0rem;
  left: 0rem;
  bottom: 0rem;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms ease-in-out, box-shadow 250ms ease-in-out;
}
.btn:hover::after {
  opacity: 1;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.5);
}

/*icon header*/
.fa-arrow-left {
  text-decoration: none;
  color: #242424;
}
.fa-arrow-left:hover {
  color: #9356DC;
}

/*icon userGuide*/
.fa-mobile-alt, .fa-store, .fa-list-ul {
  color: #8d8d8d;
}

/*icon like*/
.fa-heart::before {
  transition: background-image 5s ease-in-out;
}
.fa-heart:active::before {
  font-weight: bold;
  background-image: linear-gradient(-5deg, #9356DC, #FF79DA);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerMain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerMain > nav {
  display: flex;
  justify-content: center;
  flex-basis: 85%;
}

footer {
  background-color: #353535;
  padding: 2rem;
}
footer .logo--dim {
  width: 6.5rem;
  margin-bottom: 1rem;
}
footer p {
  color: white;
}
footer a {
  text-decoration: none;
}
footer a p {
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}
footer .alignTextIcon {
  display: flex;
  align-items: center;
}
footer .alignTextIcon p {
  padding-left: 0.5rem;
}
footer .alignTextIcon--color {
  color: white;
}
footer .alignTextIcon--dim {
  width: 1rem;
}

/* Pages restaurant*/
.background-color {
  background-color: #f6F6F6;
}

.cntnerImg--dim {
  width: 100%;
  height: 100%;
}

.headingPage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
}

.menu {
  background-color: #f6F6F6;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  bottom: 3rem;
}
.menu__card {
  padding: 0 1rem 0 1rem;
  margin-bottom: 2rem;
}
.menu__card--design {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 6px 3px #eaeaea;
  border-radius: 1.5rem;
  margin: 1rem 0 1rem 0;
  padding: 0 0 0 1rem;
  cursor: pointer;
  overflow: hidden;
  /*animmation menu*/
  animation: anim-menu 800ms ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-delay: 1000ms;
}
.menu__card--design--1 {
  animation-delay: 72ms;
}
.menu__card--design--2 {
  animation-delay: 144ms;
}
.menu__card--design--3 {
  animation-delay: 216ms;
}
.menu__card--design--4 {
  animation-delay: 288ms;
}
.menu__card--design--5 {
  animation-delay: 360ms;
}
.menu__card--design--6 {
  animation-delay: 432ms;
}
.menu__card--design--7 {
  animation-delay: 504ms;
}
.menu__card--design--8 {
  animation-delay: 576ms;
}
.menu__card--design--9 {
  animation-delay: 648ms;
}
.menu__card--design--10 {
  animation-delay: 720ms;
}
.menu__card--design:active > .menu__cardPrice {
  margin-right: 2rem;
  transform: translateX(15px);
}
.menu__card--design:active > .menu__cardConfirmation {
  transform: translateX(0);
}
.menu__card--design:active .menu__cardConfirmation--rot {
  transform: rotate(0);
}
.menu__card > p {
  border-bottom: 3px solid #99E2D0;
  width: 2.5rem;
  height: 1.5rem;
}
.menu__cardAlign {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 2;
}
.menu__cardAlign--textEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__cardAlign > h4 {
  margin-block-end: -0.3em;
}
.menu__cardAlign p {
  margin-block-start: 0.5em;
  font-size: 0.9em;
}
.menu__cardPrice {
  align-self: flex-end;
  margin-right: 1.2rem;
  transform: translateX(65px);
  transition: all 400ms ease-in-out;
}
.menu__cardConfirmation {
  background-color: #99E2D0;
  border-radius: 0 1.5rem 1.5rem 0;
  padding: 1.6rem 1.5rem;
  transform: translateX(75px);
  transition: all 400ms ease-out;
}
.menu__cardConfirmation--rot {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition: all 500ms ease-out;
}
.menu__cardConfirmation .fa-check {
  color: #99E2D0;
}

/* Header Location */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
}
.location__alignIcon {
  padding-right: 1rem;
  margin-left: 4rem;
}
.location input {
  background-color: #eaeaea;
  border: none;
  outline: none;
}

/*company Description*/
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6F6F6;
  padding: 1rem 2rem 3rem 2rem;
}
.description__textAlign {
  text-align: center;
}
.description > p {
  margin-top: -0.5em;
  margin-bottom: 1.5rem;
}
.description--btnTxtSize {
  color: white;
}
.description .btn {
  background-color: #FF79DA;
  background: linear-gradient(-5deg, #9356DC, #FF79DA);
  border-radius: 2rem;
  padding: 1rem 0.8rem;
  text-align: center;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 0;
  min-width: 12.5rem;
}
.description .btn a {
  text-decoration: none;
}
.description .btn::after {
  content: "";
  position: absolute;
  border-radius: 2rem;
  background: linear-gradient(-5deg, #a16be0, #ff93e1);
  top: 0rem;
  right: 0rem;
  left: 0rem;
  bottom: 0rem;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms ease-in-out, box-shadow 250ms ease-in-out;
}
.description .btn:hover::after {
  opacity: 1;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.5);
}

/* User Guide */
.userGuide {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}
.userGuide aside {
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 6px 3px #eaeaea;
  background-color: #f6F6F6;
  margin-top: 1rem;
  padding: 0.5rem 0;
  border-radius: 1.5rem;
  cursor: pointer;
}
.userGuide aside:hover {
  background-color: #f5edff;
}
.userGuide aside:hover > .fa-mobile-alt, .userGuide aside:hover > .fa-list-ul, .userGuide aside:hover > .fa-store {
  color: #9356DC;
}
.userGuide p {
  margin: -0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  border-radius: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.userGuide i {
  margin-left: 1.7rem;
}
.userGuide h4 {
  font-size: 0.9em;
  margin-left: 1.2rem;
}

/* Restaurant */
.restaurant {
  padding: 2rem 1rem;
  background-color: #f6F6F6;
}
.restaurant article {
  border-radius: 1rem;
  margin-bottom: 1.2rem;
  box-shadow: 0px 3px 6px 3px #eaeaea;
}
.restaurant__containerImg {
  position: relative;
  height: 10.5rem;
}
.restaurant__new {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
  color: #1b6150;
  background-color: #99E2D0;
  font-weight: bold;
  font-size: 0.8em;
  text-decoration: none;
}
.restaurant__imgDim {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  height: 100%;
  width: 100%;
}
.restaurant__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0.5rem 1.7rem 0.5rem 1rem;
  border-radius: 0 0 1rem 1rem;
}
.restaurant__name--lineSpacing {
  line-height: 0.1;
}

/*home loading-spinner*/
@media screen and (min-width: 765px) {
  .load {
    width: 25.5vh;
    height: 18vh;
  }
}

/* home USER GUIDE */
@media screen and (min-width: 765px) {
  .desktop-flexbox {
    display: flex;
  }
  .desktop-flexbox .description {
    flex-basis: 50%;
    justify-content: center;
    border-right: solid 1px #eaeaea;
  }
  .desktop-flexbox .userGuide {
    flex-basis: 50%;
    padding-left: 2rem;
  }
  .desktop-flexbox .userGuide aside {
    max-width: 30rem;
  }
}

/* home RESTAURANT */
@media screen and (min-width: 765px) {
  .restaurant {
    border-top: solid 1px #eaeaea;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .restaurant__flexDesktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurant__flexDesktop article {
    flex-basis: 47%;
  }
}

/* icon favoris */
@media screen and (min-width: 1000px) {
  .fa-heart:hover::before {
    font-weight: bold;
    background-image: linear-gradient(-5deg, #9356DC, #FF79DA);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* FOOTER */
@media screen and (min-width: 765px) {
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  footer .logo--dim {
    margin-bottom: 0;
    margin-top: 0.3rem;
  }
}

/* Page Restau MENU */
@media screen and (min-width: 1000px) {
  .cntnerImg--dim {
    height: 30rem;
    object-fit: cover;
  }
}

@media screen and (min-width: 1000px) {
  .menu {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .menu__flex {
    display: flex;
    justify-content: space-between;
  }
  .menu__card {
    width: 27%;
  }
  .menu__card--design, .menu__cardAlign {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .menu__card--design:hover > .menu__cardPrice {
    margin-right: 2rem;
    transform: translateX(15px);
  }
  .menu__card--design:hover > .menu__cardConfirmation {
    transform: translateX(0);
  }
  .menu__card--design:hover .menu__cardConfirmation--rot {
    transform: rotate(0);
  }
}

/*# sourceMappingURL=style.css.map */
