/* Header Location */
.location {
    @include flexbox-center-hor-ver();
    background-color: $secondary-background-color;
    &__alignIcon {
        padding-right: 1rem;
        margin-left: 4rem;
    }
    input {
        background-color: $secondary-background-color;
        border: none;
        outline:none;
    }
}

/*company Description*/
.description {
    @include flexbox-column-cntr-hor();
    background-color: $primary-backgroud-color;
    padding: 1rem 2rem 3rem 2rem;
    &__textAlign {
        text-align: center;
    }
    > p {
        margin-top: -0.5em;
        margin-bottom: 1.5rem;
    }
    &--btnTxtSize {
        font-size: map-get($map: $font-size , $key: bthtxt);
    }
    button {
        @include btn();
        min-width: 12.5rem;
        @include btn--hover;
    }
}

/* User Guide */
.userGuide {
    @include padding-section();
    margin-bottom: 2rem;
    aside {
        @include flexbox-center-ver();
        @include shadow-container();
        background-color: $primary-backgroud-color;
        margin-top: 1rem;
        padding: 0.5rem 0;
        border-radius: 1.5rem;
        cursor: pointer;
        &:hover {
            background-color: #f5edff;
            & > .fa-mobile-alt {
                color: $primary-color;
            }
        }
    }
    p {
        margin: -0.5rem;
        @include flexbox-center-hor-ver();
        background-color: $primary-color;
        color: white;
        border-radius: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
    i {
        margin-left: 1.7rem;
    }
    h4 {
        font-size: map-get($map: $font-size , $key: title);
        margin-left: 1.2rem;
    }
}

/* Restaurant */
.restaurant {
    @include padding-section();
    background-color: $primary-backgroud-color;
    article {
        border-radius: 1rem;
        margin-bottom: 1.2rem;
        @include shadow-container();
    }
    &__containerImg {
        height: 10.5rem;
    }
    /*&__new {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: #99e2d0;
        color: #39a98e;
        font-weight: bold;
        padding: .5rem;
    }*/
    /* TODO: demander comment center l'image et box-siting */
    &__imgDim {
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        height: 100%;
        width: 100%;
    }
    &__name {
        @include flexbox-center-ver();
        justify-content: space-between;
        background-color: white;
        padding: 0.5rem 1.7rem 0.5rem 1rem; 
        border-radius: 0 0 1rem 1rem;
        &--lineSpacing {
            line-height: 0.1;
        }
    }
}