$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$secondary-background-color: #E5E5E5;
$footer-background-color: #353535;
$primary-backgroud-color: #f6F6F6;
$footer-text-color: white;
$shadow-size: 3px;
$font-size: (bthtxt: 1.1em, title: 0.9em, paragraph: 0.9em);