$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$secondary-background-color: #eaeaea;
$footer-background-color: #353535;
$primary-backgroud-color: #f6F6F6;
$footer-text-color: white;
$shadow-size: 3px;
$deg:-5deg;
$light: 5%;
$size-load: 3vh;
$anim-duree: 500ms;
$animMenu-duree: 800ms;
$number-bars: 5;
$anim-delay: $anim-duree * 0.2;
$animMenu-delay: $animMenu-duree * 0.09;
$font-size: (bthtxt: 1.1em, title: 0.9em, paragraph: 0.9em);
$breakpoints: (desktop: 1000px, tablette-min: 765px, tablette-max:999px);